.background {
	fill: none;
	pointer-events: all;
}

#mg {
	fill: #aaa;
	stroke: #fff;
	stroke-width: 0.5px;
}

#mg .active {
	fill: #6699DD;
}
#capital {
	fill : #6699aa;
}

.mesoregioes_mg {
	fill: #aacccc;
}
.municipios_metropolitana_bh {
	fill: #88aaaa;
}
.bairro_popular {
	fill: #6699aa
}

.bairro_popular:hover,.municipios_metropolitana_bh:hover,.mesoregioes_mg:hover {
	fill: #6699cc;
}
