.background {
  fill: none;
  pointer-events: all;
}

#states path {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 1.5px;
}

#states path:hover {
  stroke: white;
}

.municipio {
	fill: steelblue;
}

.legend-text {
	opacity: 0.7;
	fill: black;
}

b {
	font-weight: bolder;
	font-size: large;
}

.tipsy-inner {
	text-align: left;
}
